.register-container {
  width: 100%;
  padding: 40px 80px;
}

.register-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* IZQUIERDA */
.left-side {
  width: 40%;
}

.left-side h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

/* DERECHA */
.right-side {
  width: 50%;
}

/* STEPS */
.steps {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.step {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.5;
}

.step span {
  background: #ccc;
  border-radius: 50%;
  padding: 8px 12px;
}

.step.active {
  opacity: 1;
}

.step.active span {
  background: #f4b400;
  color: white;
}

/* FORM */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.next-button {
  margin-top: 20px;
  padding: 12px;
  background: #f4b400;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}