header{
    display : flex;
    flex-direction: row;
}

div{
    display: flex;
}

.upper-bar{
    
    align-items: center;
    display: flex;
    flex-direction: row;

    position: fixed;
    background-color: rgb(255, 224, 70);

    width: 100%;
}

.upper-bar-buttons{ 
    margin-left: auto;
    margin-right: 10px;
}

button{
    display: flex;
    flex-direction: row;

    align-items: center;

    background-color: white;
    border: none;
    border-radius: 25px;
    margin: 10px;
}

