.upper-bar-header {
    display: flex;
    flex-direction: row;

    background-color: white;
}

.upper-bar-button {
    display: flex;
    flex-direction: row;

    align-items: center;

    background-color: white;

    border: none;

    border-radius: 25px;

    margin: 10px;

    padding-right: 15px;

    cursor: pointer;
}

.upper-bar-button:hover {
    background-color: rgb(255, 224, 70);

    transition: all 0.3s;
}

.upper-bar-icon {
    margin: 10px;

    max-width: 30px;
    max-height: 30px;
}

.upper-bar-title {
    font-size: 15px;

    margin-block-end: 0px;
    margin-block-start: 0px;
}

.logoWorkPal {
    margin: 10px;

    max-width: 80px;
    max-height: 80px;

    background-color: rgb(255, 224, 70);

    border-radius: 30px;
}

.upper-bar {
    align-items: center;

    display: flex;

    flex-direction: row;

    width: 100%;

    background-color: white;

    box-shadow: 0px 5px 10px rgba(139, 139, 139, 0.2);

    z-index: 100;
}

.upper-bar-buttons {
    margin-left: auto;

    margin-right: 10px;

    display: flex;
}

.register-button {
    background-color: rgb(255, 224, 70);
}

.register-button:hover {
    transform: translateY(-5px);

    background-color: rgba(255, 224, 70, 0.552);

    transition: all 0.5s;
}

.upper-bar img {
    width: auto;
    height: auto;
}

.upper-bar-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.logoWorkPal {
    width: 80px;
    height: 80px;
    object-fit: contain;
}