input{
    width: 100%;
    height: 40px;

    background-color: rgb(238, 235, 231);
    border-radius: 5px;
   
    border: none;
}

h1{
    margin: 10px;
}

.file-input {
    display: none;
}

.register-module{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: white;
    
    border-radius: 20px;

    width: 65%;
    margin-left: 15%;
    margin-right: 15%;

    padding: 15px;

    box-shadow: 0px 5px 5px rgba(139, 139, 139, 0.218);
}

.register-section{
    display: flex;
    flex-direction: row;

    align-items: center;
    
    font-size: 300px;
}

.info-section{
    margin-top: 10px;
}

.create-icon-info{
    background-color:  rgb(255, 224, 70);
    border-radius: 15px;

    min-width: 50px;
    min-height: 50px;
}

.project-image{
    min-width: 300px;
    min-height: 300px;
}

.image-button{
    background-color:  rgb(255, 224, 70);
    border-radius: 10px;    
    appearance: none;
}

.description-input{
    min-height: 100px;

}

.ok-button{
    background-color:  rgb(255, 224, 70);
    border-radius: 15px;

    align-items: center;
    justify-content: center;
}

.ok-button:hover{
    background-color: rgba(255, 224, 70, 0.552);
    transform : translateY(-5px);
    transition: all 0.3s;
}

.add-image-scroll{
    display: flex; 
    overflow-x: scroll; 
    white-space: nowrap;
}

.upper-panel{
    padding-top: 120px;
    padding-bottom: 30px;
    display:flex;
    flex-direction: column;

    background-color: white;
    box-shadow: 0px 5px 5px rgba(139, 139, 139, 0.218);

    width: 100%;
}

.upper-panel-text{
    display: flex;
    flex-direction: column;
    padding-left:30px;
}

.upper-panel-button{
   
    width: 120px;

    margin-left:30px;
}

.total{
    display:flex;
    flex-direction: column;
    
    width: 100%;
}