.search-container {
  min-height: 100vh;
  background-color: #fff4ca;
}

.search-content {
  padding: 40px 80px;
}

.search-header {
  margin-bottom: 35px;
}

.search-header h1 {
  font-size: 42px;
  color: #1f2937;
  margin-bottom: 10px;
}

.search-header p {
  color: #6b7280;
  font-size: 18px;
}

.search-filters {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.search-input {
  flex: 1;
  min-width: 300px;

  padding: 14px 18px;

  border: 1px solid #fff4ca;
  border-radius: 12px;

  font-size: 16px;

  outline: none;

  transition: 0.2s ease;
}

.search-input:focus {
  border-color: #d4ae15;
}

.search-projects-container {
  padding: 40px 80px;
  max-width: 1400px;
  margin: 0 auto;
}

.search-projects-header p {
  padding: 14px 0px;
  max-width: 1400px;
  margin: 0 auto;
}

.category-select {
  padding: 14px 18px;

  border: 1px solid #fff4ca;
  border-radius: 12px;

  font-size: 16px;

  background-color: white;

  cursor: pointer;

  outline: none;
}

.projects-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  gap: 30px;
}

.project-card {
  background-color: white;

  border-radius: 18px;

  overflow: hidden;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  cursor: pointer;

  transition: 0.25s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project-card-content {
  padding: 22px;
}

.project-category {
  display: inline-block;

  background-color: #fff4ca;
  color: #d4ae15;

  padding: 6px 12px;

  border-radius: 20px;

  font-size: 14px;
  font-weight: 600;

  margin-bottom: 15px;
}

.project-card-content h2 {
  font-size: 24px;
  color: #111827;

  margin-bottom: 12px;
}

.project-card-content p {
  color: #6b7280;

  line-height: 1.6;

  margin-bottom: 18px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin-bottom: 20px;
}

.skill-tag {
  background-color: #fff4ca;

  color: #d4ae15;

  padding: 8px 12px;

  border-radius: 14px;

  font-size: 14px;
  font-weight: 500;
}

.view-project-button {
  width: 100%;

  padding: 14px;

  border: none;
  border-radius: 12px;

  background-color: #d4ae15;
  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s ease;
}

.view-project-button:hover {
  background-color: #d4ae15;
}

.no-results {
  width: 100%;

  padding: 60px 20px;

  text-align: center;

  background-color: white;

  border-radius: 18px;
}

.no-results h2 {
  font-size: 32px;
  color: #111827;

  margin-bottom: 10px;
}

.no-results p {
  color: #6b7280;
}

@media (max-width: 768px) {
  .search-content {
    padding: 30px 20px;
  }

  .search-header h1 {
    font-size: 32px;
  }

  .search-filters {
    flex-direction: column;
  }

  .search-input {
    min-width: 100%;
  }
}